/*/ headers /*/
h2 {
    color: white;
}
p {
    color: green;
}

/*/ Global site css /*/
body {
    background-color: black;
    font-size: 1.25rem;
    font-family: "tirillium_semibold";
    color: #15ff00;
    margin: 0px;
  }
main {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
  }

/*TEXTTYPES*/
.quote{
    text-align: center;
    font-size: 3rem;
}
.UNDERCONSTRUCTION{
    color: red;
}
a{
    color: white;
    font-weight: bold;
}
main a:hover {
    color: #15ff00;
}

h1, h2, h3, h4, h5{
    font-family: "tirillium_bold";
}
/*HEADER*/
.HEADER{
    width: 100%;
    background-image: url(IMAGES/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.HEADER a{  
    text-align: right;
    display: inline-flex;
    color: black;
    text-decoration: none;
}
.HEADER .ITEM{
    width: 100%;
    color: black;
}
.HEADER .ITEM:hover{
    transform: scale(1.2);
    color: white;
}

/*/ FONTS /*/
@font-face {
    font-family: "tirillium_semibold";
    src: url("FONTS/titillium/TitilliumWeb-SemiBold.ttf");
}
@font-face {
    font-family: "tirillium_regular";
    src: url("FONTS/titillium/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "tirillium_bold";
    src: url("FONTS/titillium/TitilliumWeb-Bold.ttf");
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/*/ Subsite settings /*/
.subsiteheader{
    display: flex; 
    width: 100%;
    text-align: center;
    flex-flow: row nowrap;
    height: 100%;
}
.subsiteheader p{
    font-size: 4rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 62.5%;
    height: 40%;
}
.subsiteheader a{
    vertical-align: middle;
    font-size: 1.5rem;
    padding: 2%;
    background-color: #15ff00;
    text-decoration: none;
    color: black;
    width: 15%;
    height: 40%;
}
.subsiteheader a:hover{
    background-color: white;
    text-decoration: none;
    color: black;
}

/*/scrollbar setting/*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: black;
}
  
body::-webkit-scrollbar-thumb {
    background: #15ff00;
}
body {
    background-color: black;
    margin: 0;
}
main head{
    text-align: center;

}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
header div.Stream {
    color: black;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(IMAGES/liftoff.jpg);
    background-size: cover;
    padding-bottom: 25%;
    padding-top: 25%;
}